@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/app/globals.css */
:root {
  --main-color: #619451;
  --navy-blue: #579ca3;
  --light-blue: #b8d5d9;
  --light-purple: #baa1be;
  --orange: #d57426;
  --yellowish: #e2ad51;
  --text-color: #404042;
}

html {
  scroll-behavior: smooth;
}
